*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	padding: 2rem 0;
	font-size: 2rem;
	font-family: 'Pacifico', cursive;
}

h2 {
	font-family: 'Pacifico', cursive; 
}

h3, .description {
	font-family: 'Barlow Semi Condensed', sans-serif; 
}

#recipesSection {
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.recipe-card {
	opacity: 0;
	position: relative;
	width: 400px;
	height: 400px;
	margin: 2rem;
	transform: scale(1,1);
	animation-duration: 1s;
	transition: transform 2s ease-out;
}

.recipe-card:hover {
	transform: scale(1.2,1.2);
}

.recipe-card:hover .recipe-front,
.recipe-card:hover .recipe-back {
	box-shadow: -1px -1px 20px rgba(0,0,0,.2), -1px 1px 20px rgba(0,0,0,.2), 1px -1px 20px rgba(0,0,0,.2), 1px 1px 20px rgba(0,0,0,.2);
}

.recipe-front,
.recipe-back {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	box-shadow: 0 0 0 rgba(0,0,0,1);
	transition: box-shadow 2s ease-out;
}

.recipe-front {
	overflow: hidden;
	transform: rotateY(0deg);
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.recipe-back {
	background-color: rgba(255,255,255,.7);
	transform: rotateY(180deg);
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.recipe-image {
	width: auto;
	height: 100%;
}

#recipeSection {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	
	
}

#recipeBackground {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#recipeCard {
	position: relative;
	top: 10%;
	max-width: 800px;
	height: 80%;
	margin: auto;
	padding: 3rem;
	background-color: #ddd;
}

#closeButton {
	position: absolute;
	top: 1rem;
	right: 1rem;
	color: #aaa;
	transition: color 1s;
	font-size: 2rem;
}

#closeButton:hover {
	color: #111;
}

#titleAndDetailsSection {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 2rem;
}

#ingredientsSection {
	margin-right: .5rem;
}

#detailsSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: .5rem;
}

.text-bold {
	font-weight: bold;
}

.text-oxygen {
	font-size: 13px;
	font-family: 'Lora', serif;
}

/*for tooltip*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: 15px;
  text-align: justify;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media screen and (max-width: 800px) {
	#recipeSection {
		position: absolute;
	}
	#recipeCard {
		height: auto;
	}
	#titleAndDetailsSection {	
		justify-content: center;
	}
}
/*animation*/

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: scale(1.2,1.2);
		box-shadow: -1px -1px 20px rgba(0,0,0,.2), -1px 1px 20px rgba(0,0,0,.2), 1px -1px 20px rgba(0,0,0,.2), 1px 1px 20px rgba(0,0,0,.2);
	}
	to {
		opacity: 1;
		transform: scale(1,1);
		box-shadow: 0 0 0 rgba(0,0,0,1);
	}
}

@keyframes flipBack {
	0% {
		transform: rotateY(0deg);
		z-index: 1;
	}
	50% {
		z-index: -1;
	}
	100% {
		transform: rotateY(180deg);
		z-index: -1;
	}
}

@keyframes flipForward {
	0% {
		transform: rotateY(180deg);
		z-index: -1;
	}
	50% {
		z-index: 1;
	}
	100% {
		transform: rotateY(0deg);
		z-index: 1;
	}
}